body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    font-size: large;
    text-align: center;
    margin: 15px 20px;
    
}



h1 {

    background-color: rgb(175, 150, 183);
    text-decoration: underline;
    text-align: center;
}


ol li {
    margin-bottom: 25px;

}

.lista {
    background-color: white;
    line-height: 25px;
    
}

.spis {
    padding: 10px;
    border: solid 5px white;
    background: rgb(216, 222, 221);
    margin: 0 auto;
    width: 200px;
    text-align: center;
    font-size: larger;
    font-family: 'Arial Narrow Bold', sans-serif;

}

ul.lista {
    list-style: none;
}



.des {
    color:darkred;
    }


.ing{
    color:darkblue;
    
    
}
.step {
    color: darkgoldenrod;
    background-color: rgb(85, 84, 83);
    padding: 20px;
    width: 200px;
}

.Ingredients {
   font-style: italic;
   border: 1px solid black;
   background-color: bisque;
   text-align: center;
   padding: 20px;
}

.des,
.ing,
.step {
    font-family:  'Trebuchet MS', sans-serif; 
    text-align: center;
    margin: 30px auto;
}





.home {
    display: block;
    margin:auto;
    padding: 1em 2em;
    font-size: 15px;

    
}
